<div class="jumbotron">
    <h1>RENT MY CAR</h1>
    <%= link_to 'About us', home_about_path, class: 'btn btn-success' %>
    <%= link_to 'Rent my car', root_path, class: 'btn btn-success btn-lg' %>
</div>

